{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Spacemesh API",
    "contact": {
      "name": "Spacemesh",
      "url": "https://spacemesh.io/"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/spacemeshos/go-spacemesh/blob/develop/LICENSE"
    },
    "version": "v2beta1",
    "x-logo": {
      "altText": "Spacemesh Logo",
      "url": "https://docs.spacemesh.io/img/logo.png"
    }
  },
  "host": "testnet-api.spacemesh.network",
  "paths": {
    "/spacemesh.v2beta1.AccountService/List": {
      "get": {
        "description": "List is a method that takes an \"AccountRequest\" body and returns an \"AccountList\".\nThis method is used to retrieve a list of accounts based on the provided request parameters.",
        "tags": [
          "AccountService"
        ],
        "summary": "List of accounts",
        "operationId": "AccountService_List",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "list of account addresses",
            "name": "addresses",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "adjusts the starting point for data",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "specifies max number of items to fetch// bech32 format including HRP",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1AccountList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.ActivationService/ActivationsCount": {
      "get": {
        "description": "ActivationsCount is a method that takes an \"ActivationsCountRequest\" body and returns an \"ActivationsCountResponse\".\nThis method is used to retrieve the count of activations for a specified epoch.",
        "tags": [
          "ActivationService"
        ],
        "summary": "Count of activations",
        "operationId": "ActivationService_ActivationsCount",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "epoch number",
            "name": "epoch",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1ActivationsCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.ActivationService/Highest": {
      "get": {
        "description": "Highest is a method that takes an \"HighestRequest\" body and returns an \"HighestResponse\".\nThis method is used to retrieve the activation with the highest tick count.",
        "tags": [
          "ActivationService"
        ],
        "summary": "Highest",
        "operationId": "ActivationService_Highest",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1HighestResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.ActivationService/List": {
      "get": {
        "description": "List is a method that takes an \"ActivationRequest\" body and returns an \"ActivationList\".\nThis method is used to retrieve a list of activations based on the provided request parameters.",
        "tags": [
          "ActivationService"
        ],
        "summary": "List of activations",
        "operationId": "ActivationService_List",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "starting epoch for the query",
            "name": "startEpoch",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ending epoch for the query",
            "name": "endEpoch",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            },
            "collectionFormat": "multi",
            "description": "list of activation IDs",
            "name": "id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            },
            "collectionFormat": "multi",
            "description": "list of smesher IDs",
            "name": "smesherId",
            "in": "query"
          },
          {
            "type": "string",
            "description": "`coinbase` filter is not supported by database index and will result in sequential scan.",
            "name": "coinbase",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "adjusts the starting point for data",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "specifies max number of items to fetch",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1ActivationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.LayerService/List": {
      "get": {
        "description": "List is a method that takes a \"LayerRequest\" body and returns an \"LayerList\".\nThis method is used to retrieve a list of layers based on the provided request parameters.",
        "tags": [
          "LayerService"
        ],
        "summary": "List of layers",
        "operationId": "LayerService_List",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "starting layer for the query",
            "name": "startLayer",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ending layer for the query",
            "name": "endLayer",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "adjusts the starting point for data",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "specifies max number of items to fetch",
            "name": "limit",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "specifies the sort order (default is ASC)",
            "name": "sortOrder",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1LayerList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.MalfeasanceService/List": {
      "get": {
        "description": "List is a method that takes a \"MalfeasanceRequest\" body and returns an \"MalfeasanceList\".\nThis method is used to retrieve a list of malfeasance proofs based on the provided request parameters.",
        "tags": [
          "MalfeasanceService"
        ],
        "summary": "List of malfeasance proofs",
        "operationId": "MalfeasanceService_List",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            },
            "collectionFormat": "multi",
            "description": "list of smesher ids to fetch (can be empty for all)",
            "name": "smesherId",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "adjusts the starting point for data",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "specifies max number of items to fetch",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1MalfeasanceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.NetworkService/Info": {
      "get": {
        "description": "Info is a method that returns an \"NetworkInfoResponse\".\nThis method is used to retrieve network information.",
        "tags": [
          "NetworkService"
        ],
        "summary": "Network information",
        "operationId": "NetworkService_Info",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1NetworkInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.NodeService/Status": {
      "get": {
        "description": "Status is a method that returns an \"NodeStatusResponse\".\nThis method is used to retrieve node status information.",
        "tags": [
          "NodeService"
        ],
        "summary": "Node status",
        "operationId": "NodeService_Status",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1NodeStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.RewardService/List": {
      "get": {
        "description": "List is a method that takes a \"RewardRequest\" body and returns an \"RewardList\".\nThis method is used to retrieve a list of rewards based on the provided request parameters.",
        "tags": [
          "RewardService"
        ],
        "summary": "List of rewards",
        "operationId": "RewardService_List",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "starting layer for the query",
            "name": "startLayer",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ending layer for the query",
            "name": "endLayer",
            "in": "query"
          },
          {
            "type": "string",
            "description": "filter by coinbase",
            "name": "coinbase",
            "in": "query"
          },
          {
            "type": "string",
            "format": "byte",
            "description": "filter by smesher",
            "name": "smesher",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "adjusts the starting point for data",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "specifies max number of items to fetch",
            "name": "limit",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "specifies the sort order by layer (default is ASC)",
            "name": "sortOrder",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1RewardList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.TransactionService/EstimateGas": {
      "post": {
        "description": "EstimateGas is a method that takes a \"EstimateGasRequest\" body and returns an \"EstimateGasResponse\".\nThis method is used to estimate the recommended maximum gas for a signed binary transaction.",
        "tags": [
          "TransactionService"
        ],
        "summary": "Estimate gas for transaction",
        "operationId": "TransactionService_EstimateGas",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1EstimateGasRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1EstimateGasResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.TransactionService/List": {
      "get": {
        "description": "List is a method that takes a \"TransactionRequest\" body and returns an \"TransactionList\".\nThis method is used to retrieve a list of transactions based on the provided request parameters.",
        "tags": [
          "TransactionService"
        ],
        "summary": "List of transactions",
        "operationId": "TransactionService_List",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Starting layer for transactions.",
            "name": "startLayer",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Ending layer for transactions.",
            "name": "endLayer",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            },
            "collectionFormat": "multi",
            "description": "Filter: specific transaction IDs to filter.",
            "name": "txid",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by address (principal or recipient)",
            "name": "address",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "Adjusts the starting point for data retrieval.",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uint64",
            "description": "Specifies maximum number of items to fetch.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Whether to include transaction state in response.",
            "name": "includeState",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Whether to include result of transactions in response.",
            "name": "includeResult",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "specifies the sort order by layer (default is ASC)",
            "name": "sortOrder",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1TransactionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.TransactionService/ParseTransaction": {
      "post": {
        "description": "ParseTransaction is a method that takes a \"ParseTransactionRequest\" body and returns an \"ParseTransactionResponse\".\nThis method is used to parse a signed binary transaction and optionally verify its signature.",
        "tags": [
          "TransactionService"
        ],
        "summary": "Parse transaction",
        "operationId": "TransactionService_ParseTransaction",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1ParseTransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1ParseTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    },
    "/spacemesh.v2beta1.TransactionService/SubmitTransaction": {
      "post": {
        "description": "SubmitTransaction is a method that takes a \"SubmitTransactionRequest\" body and returns an \"SubmitTransactionResponse\".\nThis method is used to submit a signed binary transaction to the network.",
        "tags": [
          "TransactionService"
        ],
        "summary": "Submit transaction",
        "operationId": "TransactionService_SubmitTransaction",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1SubmitTransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/spacemeshv2beta1SubmitTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "googlerpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code].",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client.",
          "type": "string"
        }
      }
    },
    "protobufAny": {
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "type": "object",
      "properties": {
        "@type": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics.",
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "spacemeshv2beta1Account": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "title": "account public address"
        },
        "current": {
          "title": "current state",
          "$ref": "#/definitions/spacemeshv2beta1AccountState"
        },
        "projected": {
          "title": "projected state (includes pending txs)",
          "$ref": "#/definitions/spacemeshv2beta1AccountState"
        },
        "template": {
          "type": "string",
          "title": "account template address"
        }
      }
    },
    "spacemeshv2beta1AccountList": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "title": "list of accounts",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1Account"
          }
        }
      }
    },
    "spacemeshv2beta1AccountState": {
      "type": "object",
      "properties": {
        "balance": {
          "type": "string",
          "format": "uint64",
          "title": "account balance in smidge"
        },
        "counter": {
          "type": "string",
          "format": "uint64",
          "title": "aka nonce"
        },
        "layer": {
          "type": "integer",
          "format": "int64",
          "title": "account balance as of layer X"
        }
      }
    },
    "spacemeshv2beta1Activation": {
      "type": "object",
      "properties": {
        "coinbase": {
          "type": "string"
        },
        "height": {
          "type": "string",
          "format": "uint64"
        },
        "id": {
          "type": "string",
          "format": "byte"
        },
        "numUnits": {
          "type": "integer",
          "format": "int64",
          "title": "number of effective PoST data commitment units"
        },
        "publishEpoch": {
          "type": "integer",
          "format": "int64"
        },
        "smesherId": {
          "type": "string",
          "format": "byte"
        },
        "weight": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "spacemeshv2beta1ActivationList": {
      "type": "object",
      "properties": {
        "activations": {
          "type": "array",
          "title": "list of activations",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1Activation"
          }
        }
      }
    },
    "spacemeshv2beta1ActivationsCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "title": "number of activations for the specified epoch"
        }
      }
    },
    "spacemeshv2beta1Block": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "byte",
          "title": "block hash"
        }
      }
    },
    "spacemeshv2beta1ContentsDrainVault": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "format": "uint64"
        },
        "destination": {
          "type": "string"
        },
        "vault": {
          "type": "string"
        }
      }
    },
    "spacemeshv2beta1ContentsMultiSigSpawn": {
      "type": "object",
      "properties": {
        "pubkey": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "required": {
          "type": "integer",
          "format": "int64",
          "title": "number of required signatures"
        }
      }
    },
    "spacemeshv2beta1ContentsSend": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "format": "uint64",
          "title": "amount in smidge"
        },
        "destination": {
          "type": "string",
          "title": "recipient account"
        }
      }
    },
    "spacemeshv2beta1ContentsSingleSigSpawn": {
      "type": "object",
      "properties": {
        "pubkey": {
          "type": "string"
        }
      }
    },
    "spacemeshv2beta1ContentsVaultSpawn": {
      "type": "object",
      "properties": {
        "initialUnlockAmount": {
          "type": "string",
          "format": "uint64"
        },
        "owner": {
          "type": "string",
          "title": "owner account"
        },
        "totalAmount": {
          "type": "string",
          "format": "uint64"
        },
        "vestingEnd": {
          "type": "integer",
          "format": "int64",
          "title": "as layer number"
        },
        "vestingStart": {
          "type": "integer",
          "format": "int64",
          "title": "as layer number"
        }
      }
    },
    "spacemeshv2beta1EstimateGasRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "title": "signed binary transaction"
        }
      }
    },
    "spacemeshv2beta1EstimateGasResponse": {
      "type": "object",
      "properties": {
        "recommendedMaxGas": {
          "type": "string",
          "format": "uint64",
          "title": "recommended max gas"
        },
        "status": {
          "$ref": "#/definitions/googlerpcStatus"
        }
      }
    },
    "spacemeshv2beta1HighestResponse": {
      "type": "object",
      "properties": {
        "activation": {
          "$ref": "#/definitions/spacemeshv2beta1Activation"
        }
      }
    },
    "spacemeshv2beta1Layer": {
      "type": "object",
      "properties": {
        "block": {
          "title": "layer's block",
          "$ref": "#/definitions/spacemeshv2beta1Block"
        },
        "consensusHash": {
          "type": "string"
        },
        "cumulativeStateHash": {
          "type": "string",
          "format": "byte",
          "title": "cumulative fingerprint that uniquely identifies state since genesis"
        },
        "number": {
          "type": "integer",
          "format": "int64",
          "title": "layer number - not hash - layer content may change"
        },
        "stateHash": {
          "type": "string",
          "format": "byte",
          "title": "fingerprint of the computed state at the layer"
        },
        "status": {
          "$ref": "#/definitions/spacemeshv2beta1LayerLayerStatus"
        }
      }
    },
    "spacemeshv2beta1LayerLayerStatus": {
      "type": "string",
      "title": "- LAYER_STATUS_APPLIED: applied by hare\n - LAYER_STATUS_VERIFIED: verified by tortoise",
      "default": "LAYER_STATUS_UNSPECIFIED",
      "enum": [
        "LAYER_STATUS_UNSPECIFIED",
        "LAYER_STATUS_APPLIED",
        "LAYER_STATUS_VERIFIED"
      ]
    },
    "spacemeshv2beta1LayerList": {
      "type": "object",
      "properties": {
        "layers": {
          "type": "array",
          "title": "list of layers",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1Layer"
          }
        }
      }
    },
    "spacemeshv2beta1MalfeasanceList": {
      "type": "object",
      "properties": {
        "proofs": {
          "type": "array",
          "title": "list of malfeasance proofs",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1MalfeasanceProof"
          }
        }
      }
    },
    "spacemeshv2beta1MalfeasanceProof": {
      "type": "object",
      "properties": {
        "domain": {
          "$ref": "#/definitions/spacemeshv2beta1MalfeasanceProofMalfeasanceDomain"
        },
        "properties": {
          "type": "object",
          "title": "Properties of the Malfeasance proof, different for every type of proof",
          "additionalProperties": {
            "type": "string"
          }
        },
        "smesher": {
          "type": "string",
          "format": "byte"
        },
        "type": {
          "description": "for legacy proofs the types are\n  1 - Double publish of ATX\n  2 - Multiple ballots for a layer by same smesher\n  3 - Hare Equivocation (currently unused)\n  4 - ATX with invalid PoST proof published\n  5 - ATX referencing an invalid previous ATX published",
          "type": "integer",
          "format": "int64",
          "title": "type of the malfeasance proof, depends on domain"
        }
      }
    },
    "spacemeshv2beta1MalfeasanceProofMalfeasanceDomain": {
      "type": "string",
      "title": "- DOMAIN_UNSPECIFIED: for legacy proofs\n - DOMAIN_ACTIVATION: ATX related proofs\n - DOMAIN_BALLOT: Ballot related proofs\n - DOMAIN_HARE: Hare related proofs",
      "default": "DOMAIN_UNSPECIFIED",
      "enum": [
        "DOMAIN_UNSPECIFIED",
        "DOMAIN_ACTIVATION",
        "DOMAIN_BALLOT",
        "DOMAIN_HARE"
      ]
    },
    "spacemeshv2beta1NetworkInfoResponse": {
      "type": "object",
      "properties": {
        "effectiveGenesisLayer": {
          "type": "integer",
          "format": "int64",
          "title": "effective genesis layer, i.e., first layer after genesis initialization period"
        },
        "genesisId": {
          "type": "string",
          "format": "byte"
        },
        "genesisTime": {
          "type": "string",
          "format": "date-time",
          "title": "genesis time of the network, represented as a timestamp"
        },
        "hrp": {
          "type": "string"
        },
        "labelsPerUnit": {
          "type": "string",
          "format": "uint64",
          "title": "number of labels per unit"
        },
        "layerDuration": {
          "type": "string",
          "title": "duration of each layer in the network, specified as a duration"
        },
        "layersPerEpoch": {
          "type": "integer",
          "format": "int64",
          "title": "number of layers per epoch"
        }
      }
    },
    "spacemeshv2beta1NodeStatusResponse": {
      "type": "object",
      "properties": {
        "appliedLayer": {
          "type": "integer",
          "format": "int64",
          "title": "last layer node has applied to the state"
        },
        "connectedPeers": {
          "type": "string",
          "format": "uint64",
          "title": "number of connected neighbors"
        },
        "currentLayer": {
          "type": "integer",
          "format": "int64",
          "title": "current layer, based on clock time"
        },
        "latestLayer": {
          "type": "integer",
          "format": "int64",
          "title": "latest layer node has seen from blocks"
        },
        "processedLayer": {
          "type": "integer",
          "format": "int64",
          "title": "last layer whose votes have been processed"
        },
        "status": {
          "title": "node sync status",
          "$ref": "#/definitions/spacemeshv2beta1NodeStatusResponseSyncStatus"
        }
      }
    },
    "spacemeshv2beta1NodeStatusResponseSyncStatus": {
      "type": "string",
      "default": "SYNC_STATUS_UNSPECIFIED",
      "enum": [
        "SYNC_STATUS_UNSPECIFIED",
        "SYNC_STATUS_OFFLINE",
        "SYNC_STATUS_SYNCING",
        "SYNC_STATUS_SYNCED"
      ]
    },
    "spacemeshv2beta1Nonce": {
      "type": "object",
      "properties": {
        "counter": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "spacemeshv2beta1ParseTransactionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "title": "signed binary transaction"
        },
        "verify": {
          "type": "boolean",
          "title": "if true signature verification will be executed"
        }
      }
    },
    "spacemeshv2beta1ParseTransactionResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/googlerpcStatus"
        },
        "tx": {
          "title": "parsed transaction",
          "$ref": "#/definitions/spacemeshv2beta1Transaction"
        }
      }
    },
    "spacemeshv2beta1Reward": {
      "type": "object",
      "properties": {
        "coinbase": {
          "type": "string",
          "title": "account awarded this reward"
        },
        "layer": {
          "type": "integer",
          "format": "int64",
          "title": "layer award was paid in"
        },
        "layerReward": {
          "type": "string",
          "format": "uint64",
          "title": "tx_fee = total - layer_reward"
        },
        "smesher": {
          "type": "string",
          "format": "byte",
          "title": "id of smesher who earned this reward"
        },
        "total": {
          "type": "string",
          "format": "uint64",
          "title": "total reward paid in smidge (sum of tx fee and layer reward)"
        }
      }
    },
    "spacemeshv2beta1RewardList": {
      "type": "object",
      "properties": {
        "rewards": {
          "type": "array",
          "title": "list of rewards",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1Reward"
          }
        }
      }
    },
    "spacemeshv2beta1SubmitTransactionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "title": "signed binary transaction"
        }
      }
    },
    "spacemeshv2beta1SubmitTransactionResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/googlerpcStatus"
        },
        "txId": {
          "type": "string",
          "format": "byte",
          "title": "transaction ID"
        }
      }
    },
    "spacemeshv2beta1Transaction": {
      "description": "An immutable Spacemesh transaction.\ndo not include mutable data such as tx state or result.",
      "type": "object",
      "properties": {
        "contents": {
          "title": "parsed transaction contents",
          "$ref": "#/definitions/spacemeshv2beta1TransactionContents"
        },
        "gasPrice": {
          "type": "string",
          "format": "uint64",
          "title": "fee per unit gas, in smidge"
        },
        "id": {
          "type": "string",
          "format": "byte"
        },
        "maxGas": {
          "type": "string",
          "format": "uint64",
          "title": "max gas units consumed by tx"
        },
        "maxSpend": {
          "type": "string",
          "format": "uint64"
        },
        "method": {
          "description": "this is actually limited by uint8, but no type for that.",
          "type": "integer",
          "format": "int64"
        },
        "nonce": {
          "$ref": "#/definitions/spacemeshv2beta1Nonce"
        },
        "principal": {
          "type": "string",
          "title": "principal account address"
        },
        "raw": {
          "type": "string",
          "format": "byte"
        },
        "template": {
          "type": "string",
          "title": "template account address"
        },
        "type": {
          "$ref": "#/definitions/spacemeshv2beta1TransactionTransactionType"
        }
      }
    },
    "spacemeshv2beta1TransactionContents": {
      "type": "object",
      "properties": {
        "drainVault": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsDrainVault"
        },
        "multiSigSpawn": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsMultiSigSpawn"
        },
        "send": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsSend"
        },
        "singleSigSpawn": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsSingleSigSpawn"
        },
        "vaultSpawn": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsVaultSpawn"
        },
        "vestingSpawn": {
          "$ref": "#/definitions/spacemeshv2beta1ContentsMultiSigSpawn"
        }
      }
    },
    "spacemeshv2beta1TransactionList": {
      "type": "object",
      "properties": {
        "transactions": {
          "type": "array",
          "title": "list of transactions",
          "items": {
            "type": "object",
            "$ref": "#/definitions/spacemeshv2beta1TransactionResponse"
          }
        }
      }
    },
    "spacemeshv2beta1TransactionResponse": {
      "type": "object",
      "properties": {
        "tx": {
          "title": "transaction",
          "$ref": "#/definitions/spacemeshv2beta1Transaction"
        },
        "txResult": {
          "title": "optional transaction result",
          "$ref": "#/definitions/spacemeshv2beta1TransactionResult"
        },
        "txState": {
          "title": "optional transaction state",
          "$ref": "#/definitions/spacemeshv2beta1TransactionState"
        }
      }
    },
    "spacemeshv2beta1TransactionResult": {
      "type": "object",
      "properties": {
        "block": {
          "type": "string",
          "format": "byte",
          "title": "block hash"
        },
        "fee": {
          "type": "string",
          "format": "uint64",
          "title": "in smidge"
        },
        "gasConsumed": {
          "type": "string",
          "format": "uint64",
          "title": "in units of gas"
        },
        "layer": {
          "type": "integer",
          "format": "int64",
          "title": "layer number"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "title": "status of the transaction",
          "$ref": "#/definitions/spacemeshv2beta1TransactionResultStatus"
        },
        "touchedAddresses": {
          "type": "array",
          "title": "addresses touched by the tx",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "spacemeshv2beta1TransactionResultStatus": {
      "type": "string",
      "default": "TRANSACTION_STATUS_UNSPECIFIED",
      "enum": [
        "TRANSACTION_STATUS_UNSPECIFIED",
        "TRANSACTION_STATUS_SUCCESS",
        "TRANSACTION_STATUS_FAILURE",
        "TRANSACTION_STATUS_INVALID"
      ]
    },
    "spacemeshv2beta1TransactionState": {
      "description": "TransactionState is the \"journey\" of a tx from mempool to block inclusion to\nmesh to STF processing. To know whether or not the tx actually succeeded,\nand its side effects, check tx_state.\n\n - TRANSACTION_STATE_UNSPECIFIED: default state\n - TRANSACTION_STATE_REJECTED: rejected from mempool due to, e.g., invalid syntax\n - TRANSACTION_STATE_INSUFFICIENT_FUNDS: rejected from mempool by funds check\n - TRANSACTION_STATE_CONFLICTING: rejected from mempool due to conflicting counter\n - TRANSACTION_STATE_MEMPOOL: in mempool but not on the mesh yet\n - TRANSACTION_STATE_MESH: submitted to the mesh\n - TRANSACTION_STATE_PROCESSED: processed by STF; check Receipt for success or failure\n - TRANSACTION_STATE_INEFFECTUAL: removed from mempool and will be forgotten and never executed",
      "type": "string",
      "default": "TRANSACTION_STATE_UNSPECIFIED",
      "enum": [
        "TRANSACTION_STATE_UNSPECIFIED",
        "TRANSACTION_STATE_REJECTED",
        "TRANSACTION_STATE_INSUFFICIENT_FUNDS",
        "TRANSACTION_STATE_CONFLICTING",
        "TRANSACTION_STATE_MEMPOOL",
        "TRANSACTION_STATE_MESH",
        "TRANSACTION_STATE_PROCESSED",
        "TRANSACTION_STATE_INEFFECTUAL"
      ]
    },
    "spacemeshv2beta1TransactionTransactionType": {
      "type": "string",
      "default": "TRANSACTION_TYPE_UNSPECIFIED",
      "enum": [
        "TRANSACTION_TYPE_UNSPECIFIED",
        "TRANSACTION_TYPE_SINGLE_SIG_SEND",
        "TRANSACTION_TYPE_SINGLE_SIG_SPAWN",
        "TRANSACTION_TYPE_SINGLE_SIG_SELFSPAWN",
        "TRANSACTION_TYPE_MULTI_SIG_SEND",
        "TRANSACTION_TYPE_MULTI_SIG_SPAWN",
        "TRANSACTION_TYPE_MULTI_SIG_SELFSPAWN",
        "TRANSACTION_TYPE_VESTING_SPAWN",
        "TRANSACTION_TYPE_VAULT_SPAWN",
        "TRANSACTION_TYPE_DRAIN_VAULT"
      ]
    }
  },
  "tags": [
    {
      "name": "AccountService"
    },
    {
      "name": "ActivationService"
    },
    {
      "name": "LayerService"
    },
    {
      "name": "MalfeasanceService"
    },
    {
      "name": "NetworkService"
    },
    {
      "name": "NodeService"
    },
    {
      "name": "RewardService"
    },
    {
      "name": "TransactionService"
    }
  ]
}