name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up go
        uses: actions/setup-go@v4
        with:
          check-latest: true
          go-version-file: "release/go/go.mod"
      - name: install tools
        run: make install
      - name: lint and check build
        run: |
          # Runs the buf linter
          make lint

          # Checks for breaking changes against master
          make breaking

          # Create an actual build, then diff it to make sure build is up to date
          make check
